.ooops-list{
	height: 55px;
}
.clear-both{
	clear: both;
}
.ooops-list:before{
	line-height: 55px;
}
.ooops-radius{
	border-radius: 4px
}
.ooops-ques-list{
	position: relative;
}
.am-panel-default{
	padding: 0 16px;
}
.am-panel-default > .ooops-ques-title{
	background: #fff;
	border-bottom: 0
}

.am-panel-foot{
	border-top: 1px dotted #ccc;
	padding: 16px;
}
.am-panel-bd p{
	margin-bottom: 0.8rem;
}
.am-panel-bd p span{
	width: 18px;
	display: inline-block;
	margin-right: 12px;
	font-weight: bold
}

.am-panel-foot > label{
	margin-right: 32px;
}
.am-panel-foot > label > input{
	margin-right: 8px
}

.ooops-ques-title-input, .ooops-ques-option-input{
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 4px 8px
}
.ooops-ques-option-input{
	width: calc(100% - 64px);
	width: -webkit-calc(100% - 64px);
	width: -moz-calc(100% - 64px);
}
.am-panel-add-option, .am-panel-add-ques{
	text-align: center;
	cursor: pointer;
	padding: 4px;
	background: url("/img/optBg.png")
}
.am-panel-add-option img{
	width: 24px;
}
.ooops-option-del{
	cursor: pointer;
	width: 18px;
	margin-left: 16px;
}
.ooops-ques-del{
	position: absolute;
	top: 0;
	right: 0;
	width: 24px;
	height: 20px;
	cursor: pointer;
	background: url(/img/delAll.png)
}
.ooops-ques-del:hover {
	background: url(/img/delAll_hover.png)
}

.ooops-theme-white-bg{
	background: #fff;
}

.ooops-edit{
	padding: 8px 16px;
	margin-left: 1px;
	top: -14px;
    position: relative;
}
.ooops-data-list{
	display: none;
}

.ooops-ques-answer-area{
	padding: 4px 8px;
	width: calc(100% - 55px);
	width: -webkit-calc(100% - 55px);
	width: -moz-calc(100% - 55px);
}

.ooops-ques-answer-input{
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 4px 8px;
	width: calc(100% - 55px);
	width: -webkit-calc(100% - 55px);
	width: -moz-calc(100% - 55px);
}

.ques-answer-lab{
	width: 50px;
	display: inline-block;
}

.am-panel-foot-answer{
	padding: 8px;
}

.topic-main-header .topic-title{
	width: 40%;
	display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}
.ooops-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.topic-main-header .ooops-date-time{
	display: inline-block;
    width: 150px;
    vertical-align: middle;
    line-height: 40px;
}

.topic-main-header .ooops-submit{
      margin-left: 30%;
      border-radius: 4px;
}

.ans-answer-card .error{
	background: #dd514c;
	color: #fff;
	font-weight: bold;
}

.ans-answer-card .success{
	background: #5eb95e;
	color: #fff;
	font-weight: bold;
}

.ooops-echart{
	width: 1024px;
	height: 400px;
	background: #fff;
	margin: 0 auto;
}