<html lang="en" class="js cssanimations">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Amaze UI Admin index Examples</title>
		<meta name="description" content="这是一个 index 页面">
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI">
		<link rel="stylesheet" href="/css/amazeui.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/index.css">
		<script src="/js/jquery-3.3.1.min.js"></script>
	</head>

	<body data-type="index" class="theme-white" style="">
		<div class="am-g tpl-g">
			<header id="header">
			</header>
			<div class="left-sidebar" id="left-sidebar">
				
			</div>
			<div class="tpl-content-wrapper">
				<div class="am-panel am-panel-default">
				  	<div class="am-panel-hd ooops-ques-title">
				  		<span>1.现代白话文与文言文的区别只是语体的不同，但它们使用的象形表意的方块字，作为中华民族文化的独特创造，其中_________的民族精神、民族生命是血脉_________的。依次填入画横线部分最恰当的一项的是（  ）</span>
				  	</div>
				  	<div class="am-panel-bd">
				  	 	<p><span>A.</span>蕴含 贯通
				  	 	<p><span>B.</span>沉积 相通
				  	 	<p><span>C.</span>呈现 流通
				  	 	<p><span>D.</span>体现 连通
				  	</div>
				  	<div class="am-panel-foot">
				  	 	<label><input type="radio" name="name1" value="A">A</label>
				  	 	<label><input type="radio" name="name1" value="B">B</label>
				  	 	<label><input type="radio" name="name1" value="C">C</label>
				  	 	<label><input type="radio" name="name1" value="D">D</label>
				  	</div>
				</div>
				<div class="am-panel am-panel-default">
				  	<div class="am-panel-hd ooops-ques-title">
				  		<span>1.现代白话文与文言文的区别只是语体的不同，但它们使用的象形表意的方块字，作为中华民族文化的独特创造，其中_________的民族精神、民族生命是血脉_________的。依次填入画横线部分最恰当的一项的是（  ）</span>
				  	</div>
				  	<div class="am-panel-bd">
				  	 	<p><span>A.</span>蕴含 贯通
				  	 	<p><span>B.</span>沉积 相通
				  	 	<p><span>C.</span>呈现 流通
				  	 	<p><span>D.</span>体现 连通
				  	</div>
				  	<div class="am-panel-foot">
				  	 	<label><input type="radio" name="name2" value="A">A</label>
				  	 	<label><input type="radio" name="name2" value="B">B</label>
				  	 	<label><input type="radio" name="name2" value="C">C</label>
				  	 	<label><input type="radio" name="name2" value="D">D</label>
				  	</div>
				</div>
			</div>
		</div>
		<script>
			$("#header").load("html/header.html?v=" + new Date().getTime());
			$("#left-sidebar").load("html/nav.html?v=" + new Date().getTime());
		</script>
		<script src="/js/amazeui.min.js"></script>
		<script src="/js/app.js"></script>
	</body>

</html>