<html lang="en" class="js cssanimations">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Amaze UI Admin index Examples</title>
		<meta name="description" content="这是一个 index 页面">
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI">
		<link rel="stylesheet" href="/css/amazeui.min.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="stylesheet" href="/css/index.css">
		<script src="/js/jquery-3.3.1.min.js"></script>
	</head>

	<body data-type="index" class="theme-white" style="">
		<div class="am-g tpl-g">
			<header id="header">
			</header>
			<div class="left-sidebar" id="left-sidebar">
				
			</div>
			<div class="tpl-content-wrapper">
				<div class="am-panel am-panel-default ooops-ques-list">
				  	<div class='ooops-ques-del'></div>
				  	<div class="am-panel-hd ooops-ques-title">
				  		<input type="text" placeholder="请输入题目" class="ooops-ques-title-input">
				  	</div>
				  	<div class="am-panel-bd">
				  	 	<!-- <p><span>A.</span>蕴含 贯通 -->
				  	</div>
				  	<div class="am-panel-add-option">
				  		<img src="/img/add.png">
				  	</div>
				</div>
				<div class="am-panel-add-ques">
					<img src="/img/add.png">
				</div>
			</div>
		</div>
		<script>
			$("#header").load("html/header.html?v=" + new Date().getTime());
			$("#left-sidebar").load("html/nav.html?v=" + new Date().getTime());
		</script>
		<script src="/js/amazeui.min.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/index.js"></script>
	</body>

</html>